---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&lang=en&q=healthcare
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="hfGV2pa0sXG6YCAq7iNRcMllA", oauth_nonce="7aa80a21928eb359d248979a333b7412",
        oauth_signature="UQ5fKVYmWip2IYDkMDIpCMmT290%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1521995806", oauth_token="45627600-fGyZkN9F49kYouZ19CUTKasxq1PlQJR90wUqixqdx",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 25 Mar 2018 16:36:47 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - f1430ea2b889b4025fd33c41879e30d8
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1521996707'
      X-Response-Time:
      - '450'
      X-Transaction:
      - 00a7a288008aa67b
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Sun Mar 25 16:36:29 +0000 2018","id":977947336356884480,"id_str":"977947336356884480","text":"RT
        @CHPIthinktank: REVEALED: Ramsay Healthcare made \u00a337m pre-tax profit
        in 2 years - 77% of its patients are NHS funded @paulmasonnews @drp\u2026","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"CHPIthinktank","name":"CHPI","id":1316711024,"id_str":"1316711024","indices":[3,17]},{"screen_name":"paulmasonnews","name":"Paul
        Mason","id":19811190,"id_str":"19811190","indices":[120,134]}],"urls":[]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/#!\/download\/ipad\" rel=\"nofollow\"\u003eTwitter
        for iPad\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":254780487,"id_str":"254780487","name":"Dee
        #FBPE #LoveNHS","screen_name":"mnshpjrase","location":"South East","description":"Not
        always an Armchair activist...but always a humanist, interested in politics,
        philosophy, art, nature and science. RT''s not neccessarily endorsements ...","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":870,"friends_count":1415,"listed_count":55,"created_at":"Sun
        Feb 20 00:31:50 +0000 2011","favourites_count":14524,"utc_offset":3600,"time_zone":"London","geo_enabled":false,"verified":false,"statuses_count":48540,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/867534517183098880\/5xeHJgh-_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/867534517183098880\/5xeHJgh-_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/254780487\/1496789803","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Mon
        Jan 29 23:20:41 +0000 2018","id":958117724919664640,"id_str":"958117724919664640","text":"REVEALED:
        Ramsay Healthcare made \u00a337m pre-tax profit in 2 years - 77% of its patients
        are NHS funded @paulmasonnews\u2026 https:\/\/t.co\/w2MsHNWX3g","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"paulmasonnews","name":"Paul
        Mason","id":19811190,"id_str":"19811190","indices":[101,115]}],"urls":[{"url":"https:\/\/t.co\/w2MsHNWX3g","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/958117724919664640","display_url":"twitter.com\/i\/web\/status\/9\u2026","indices":[117,140]}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1316711024,"id_str":"1316711024","name":"CHPI","screen_name":"CHPIthinktan[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&lang=en&q=nasa
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="hfGV2pa0sXG6YCAq7iNRcMllA", oauth_nonce="6c3779188cbec73a4c653da52383b996",
        oauth_signature="zg7Ekzmr8rxy0rw8nIp1slUDnNs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1521995808", oauth_token="45627600-fGyZkN9F49kYouZ19CUTKasxq1PlQJR90wUqixqdx",
 [...]
